<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Privacy & Security</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Privacy & Security</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Privacy and Security Summary</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <p>This application stores and processes the data you supply to it.</p>
      <p>The data stored and processed includes client data you provide, your IP address, and other technical
        details.</p>
      <p>For more information, please read the full privacy notice below.</p>

    </ion-card-content>
  </ion-card>
  <ion-segment-content>
    <h3>
      What data is collected by the application?
    </h3>
    <p>
      The application collects the following data:
    <p>Personal information you supply to the application via forms, including:</p>

    <ul>
      <li>Name</li>
      <li>Email address</li>
      <li>Phone number</li>
    </ul>
    <p>
      Data stored by your personal trainer, including:
    <ul>
      <li>Client ID</li>
      <li>Fitness program</li>
      <li>Daily workout activities</li>
    </ul>
    <p>
      Usage data required for the application to function, including:
    <ul>
      <li>IP address</li>
      <li>Browser type, viewport dimensions, device type (phone/computer/tablet)</li>
      <li>Timestamps and logs of application access</li>
    </ul>
    <h3>Why is data collected?</h3>
    <p>Data is only collected as is necessary to provide a service to you.
      For example, client data is only collected in order to display the client data to you. Usage data (like IP
      address) is collected only to allow the application to function and continue delivering services to you.
    </p>

    <h3>How is data stored?</h3>
    <p>Data is stored in an online database, which is accessed via an API. There is no access control or authentication on the API, however, it is accessed over secure HTTPS connections.</p>
  </ion-segment-content>
</ion-content>
