<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Privacy & Security</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Privacy & Security</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Privacy and Security Summary</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <p>This application stores and processes the data you supply to it. All data is stored only in memory on your device, and is not retained after your browser session completes.</p>
      <p>The data stored and processed includes client data you provide, your IP address, and other technical details.</p>


    </ion-card-content>
  </ion-card>
</ion-content>
