<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
  <ion-title>
    Welcome to the client application.
  </ion-title>
  <ion-text>
    This application was developed by Musa Mohamad and Benjamin Barnett.
  </ion-text>
  </div>
</ion-content>


Michael
- LinkedIn
- LinkedIn

- Software dev/devops
-

More aspirational.
BEHAD

"working in signapore, heading up a team of developers, finservices."

confidence - aspirations help

AI & Cybersec
Cloudworks



proof points from current employer
Position who I am and waht I'm trying to achieve


- Kiwis
NZ
Fusion 5 is a salesforce consultant.

Small orgs?? - Linkedin etc.


Audatious


Look at profile of people you're meeting.

Certs

Not postgrad.

More about tangible outcomes not where you worked





In 1 year:
- Specifi role
- Certs - Azure
- Intros etc
- More about what I'm doing


In 5 years:
- Less
-

In 10 years:
- Big




