<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Workouts
    </ion-title>
    <ion-buttons slot="end">
      <app-logout-component></app-logout-component>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion *ngFor="let group of groupedWorkouts">
      <ion-item slot="header">
        <ion-label>{{ group.day }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card *ngFor="let workout of group.workouts">
          <ion-card-header>
            <ion-card-title>{{ workout.exercise_name }}</ion-card-title>
            <ion-card-subtitle>{{ workout.description }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Sets:</strong> {{ workout.sets.join(' reps, ') }} reps</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
