ion-content {
  --background: var(--ion-color-light);
}

ion-list {
  background: transparent;
}

ion-item {
  --background: var(--ion-color-light);
  margin-bottom: 8px;
  border-radius: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.ion-padding-start {
  display: block;
  margin-bottom: 8px;
  font-size: 0.8rem;
}

ion-button {
  margin-top: 16px;
} 